<%- include('partials/header.ejs') %>
<link rel='stylesheet' href='/stylesheets/new.css'>
<%- include('./partials/header-close.ejs') %>

<h1>
	Add A Blog
</h1>
<hr>

<form action="/blogs" method="POST">
	<div class="form-group">
		<label for="title">Title:</label>
		<input type="text" name="title" class="form-control" id="title" placeholder="Title of the Blog">
	</div>

	<div class='form-group'>
		<label for="content">Content:</label>
		<input type="text" name="content" id="content" class="form-control" placeholder="Content of the blog">
	</div>

	<button class='btn btn-success'>
		Add Post
	</button>
</form>

<%- include('partials/footer.ejs') %>