<%- include('partials/header.ejs') %>
<h1>
	This is the New Blog Page
</h1>

<form action="/blogs" method="POST">
	<label for="title">Title:</label>
	<input type="text" name="title" id="title">
	
	<label for="content">Content:</label>
	<input type="text" name="content" id="content">
	
	<button>
		Add Post
	</button>
</form>

<%- include('partials/footer.ejs') %>